.card-container {
  box-shadow: none !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 0px;
}
.card-box {
  border-radius: 15px;
  transition: all 300ms ease !important;
  padding: 8px 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
  flex-shrink: 0;
  min-width: var(--job-card-width);
  max-width: var(--job-card-width);
}

.card-box:hover {
  scale: 1.01;
}

.card-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card-header-info {
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.Job-description-box {
  height: 250px;
  overflow: hidden;
  mask-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
}
