@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  --easy-apply-color: rgb(85, 239, 196);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif !important;
  font-optical-sizing: auto;
}

#main-container {
  min-width: 320px;
  min-height: 100vh;
  padding: 1.5rem;
}
*::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: #bbb5b5;
  border-radius: 10px;
  outline: none;
}
